
[ General ]
home-order        = A
require-homing    = yes  # Require homing (G28) is executed before first move.
range-check       = yes  # Check that axes are within range. Dangerous if no.
auto-motor-disable-seconds = 3  # Switch off motors after tot seconds of inactivity.

[ A-Axis ]
# Example component axis, unit is in cc 1 turn = 12cc with 32 usteps resolution
steps-per-mm     = 16 * 200 * 4 / 5 
max-feedrate     = 9 #mm/s
max-acceleration = 40 #mm/s^2
range            = 40
home-pos         = min

[ Motor-Mapping ]
# If you don't happen to have a motor-mapping section, motors are assigned
# for the configured axis above in sequence XYZEABCUVW
motor_1 = axis:-a   # X axis connected to motor 1

[ Switch-Mapping ]
# These switches trigger on high: when activated, they generate a pos level.
switch_1 = active:low min_a
switch_2 = active:low max_a
